.terraform/
.terraform.lock.hcl

terraform.tfstate
terraform.tfstate.*
*.tfstate
*.tfstate.*

terraform.tfvars
*.tfvars
*.tfvars.json

crash.log
crash.*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.tfplan

.env 
*.env
#variables.tf
