- name: Init control plane
  hosts: k8s-bootstrap-master
  become: true

  tasks:
    - name: Kubeadm Init
      ansible.builtin.command: >
        kubeadm init
        --pod-network-cidr=10.244.0.0/16
        --kubernetes-version=v1.31.0
        --upload-certs
        --control-plane-endpoint {{ k8s_api_endpoint }}
        --apiserver-cert-extra-sans {{ k8s_api_host }}
        --apiserver-cert-extra-sans {{ master_private_ip }}
      args:
        creates: "/etc/kubernetes/admin.conf"

    - name: Create .kube dir
      ansible.builtin.file:
        path: "/root/.kube"
        state: directory

    - name: Configure kubectl for root
      ansible.builtin.copy:
        src: /etc/kubernetes/admin.conf
        dest: /root/.kube/config
        remote_src: true
        mode: "0600"
    
    - name: Create secret hcloud
      ansible.builtin.copy:
        dest: "/tmp/hcloud-secret.yml"
        content: |
          apiVersion: v1
          kind: Secret
          metadata:
            name: hcloud
            namespace: kube-system
          stringData:
            token: "${token}"
            network: "${network_id}"

    - name: Create secret hcloud-csi
      ansible.builtin.copy:
        dest: "/tmp/hcloud-csi-secret.yml"
        content: |
          apiVersion: v1
          kind: Secret
          metadata:
            name: hcloud-csi
            namespace: kube-system
          stringData:
            token: "${token}"

    - name: Apply secrets
      ansible.builtin.shell: |
        export KUBECONFIG=/etc/kubernetes/admin.conf
        kubectl apply -f /tmp/hcloud-secret.yml
        kubectl apply -f /tmp/hcloud-csi-secret.yml
    
    - name: Install Cloud controle manager
      ansible.builtin.command: >
        kubectl apply -f https://raw.githubusercontent.com/hetznercloud/hcloud-cloud-controller-manager/master/deploy/ccm-networks.yaml

    - name: Install Flannel CNI
      ansible.builtin.shell: |
        export KUBECONFIG=/etc/kubernetes/admin.conf
        kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml
      when: cni_plugin == "flannel"

    - name: Install Calico CNI
      ansible.builtin.shell: |
        export KUBECONFIG=/etc/kubernetes/admin.conf
        kubectl apply -f https://raw.githubusercontent.com/projectcalico/calico/v3.27.2/manifests/calico.yaml
      when: cni_plugin == "calico"

    - name: Patch tolerations
      ansible.builtin.shell: |
        kubectl -n kube-flannel patch ds kube-flannel-ds --type json -p '[{"op":"add","path":"/spec/template/spec/tolerations/-","value":{"key":"node.cloudprovider.kubernetes.io/uninitialized","value":"true","effect":"NoSchedule"}}]'
        kubectl -n kube-system patch deployment coredns --type json -p '[{"op":"add","path":"/spec/template/spec/tolerations/-","value":{"key":"node.cloudprovider.kubernetes.io/uninitialized","value":"true","effect":"NoSchedule"}}]'

    - name: Install CSI
      ansible.builtin.command: >
        kubectl apply -f https://raw.githubusercontent.com/hetznercloud/csi-driver/main/deploy/kubernetes/hcloud-csi.yml

    - name: Generate worker join command
      ansible.builtin.command: kubeadm token create --print-join-command
      register: worker_join_cmd
      changed_when: false

    - name: Generate certificate key
      ansible.builtin.command: kubeadm certs certificate-key
      register: cert_key
      changed_when: false

    - name: Upload control plane certs
      ansible.builtin.command: kubeadm init phase upload-certs --upload-certs --certificate-key {{ cert_key.stdout }}
      changed_when: false

    - name: Save control plane join command
      ansible.builtin.set_fact:
        control_plane_join_cmd: "{{ worker_join_cmd.stdout }} --control-plane --certificate-key {{ cert_key.stdout }}"

    - name: Show join commands
      ansible.builtin.debug:
        msg:
          - "worker: {{ worker_join_cmd.stdout }}"
          - "control-plane: {{ control_plane_join_cmd }}"

- name: Join additional control plane nodes
  hosts: k8s-ha-master-nodes
  become: true

  tasks:
    - name: Join as control plane
      ansible.builtin.command: "{{ hostvars[groups['k8s-bootstrap-master'][0]].control_plane_join_cmd }}"
      args:
        creates: /etc/kubernetes/kubelet.conf

- name: Join worker nodes
  hosts: k8s-workers
  become: true

  tasks:
    - name: Join as worker
      ansible.builtin.command: "{{ hostvars[groups['k8s-bootstrap-master'][0]].worker_join_cmd.stdout }}"
      args:
        creates: /etc/kubernetes/kubelet.conf