[k8s-master]
%{ for master in masters ~}
${master.name} ansible_host=${master.ip}
%{ endfor ~}

[k8s-bootstrap-master]
${masters[0].name} ansible_host=${masters[0].ip}

[k8s-ha-master-nodes]
%{ for master in slice(masters, 1, length(masters)) ~}
${replace(master.name, "master-", "master-ha-")} ansible_host=${master.ip}
%{ endfor ~}

[k8s-workers]
%{ for worker in workers ~}
${worker.name} ansible_host=${worker.ip}
%{ endfor ~}




[k8s-cluster:children]
k8s-master
k8s-workers

[all:vars]
ansible_user=root
ansible_ssh_private_key_file=~/.ssh/id_rsa
ansible_ssh_common_args=-o StrictHostKeyChecking=accept-new -o ProxyCommand="ssh -o StrictHostKeyChecking=accept-new root@${bastion_ip} -W %h:%p"
master_private_ip=${masters[0].ip}
k8s_api_endpoint=${k8s_api_priv_ip}:6443
k8s_api_host=${k8s_api_priv_ip}
;set calico or flannel
;default flannel
cni_plugin=calico